*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-family: outfit, sans-serif;
}
.card{
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    padding: 15px;
    border-radius: 1.25rem;
    /* height: 32rem;  Removed this because the content should determine the height of the card*/
}
.card img{

    /* The two lines below are used on img meaning it will apply to all images */
    display: block;
    max-width: 100%;
    border-radius: 10px;
}
.card h2{
    font-size: 1.6rem;
}
.card p{
    font-size: 1.1rem;
    color: hsl(0, 0%, 79%);
}